html,
body {
  height: 100%;
}
html {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 300 !important;
  font-size: 16px !important;
}
body {
  box-sizing: border-box;
  background-color: burlywood;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

form > input {
  border: none;
  border-bottom: 1px solid #292929;
  width: 80%;
}
.todo-container {
  background-color: white;
  width: 400px;
  height: 500px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 20px 12px rgba(0, 0, 0, 0.07);
}
.todo-container > img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.todo-form {
  display: flex;
  flex-direction: row;
}
.todo-insert {
  margin: 10px 0 0 13px;
}
ion-icon {
  width: 100%;
  height: 100%;
}
.todo-btns {
  width: 20px;
  height: 20px;
}
.todos {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.todos > li {
  padding: 10px;
  display: flex;
  flex-direction: row;
}
li > input {
  margin-right: 10px;
}
.todo-btns {
  margin-left: 10px;
}
.throght-line {
  text-decoration: line-through;
}
